.site-btn {
  font-size: $font-20;
  font-weight: $font-weight-normal;
  font-family: $base-font-bold;
  padding: 17px 30px;
  @include border-radius(100px);
  line-height: 26px;
  font-display: swap;  
  outline: 0;
  color:$white;
  text-decoration: none;
  @include transition(0.3s all ease);
  cursor: pointer;
  display:inline-block;

  &.site-btn-pink {
    border: 0;
    color: $white;
    background-color: $pink;
    @include box-shadow(0px, 0px, 30px, 0px, rgba($pink, 0.3));

    &:hover, &:focus {
      background-color: $dark-pink;
      border:0;
      outline: 0;
        color:$white;
      @include box-shadow(0px, 0px, 30px, 0px, rgba($pink, 0.5));   
      text-decoration:none;
    }

  }
    &.site-btn-white {
    border: 0;
    color: $blue;
    background-color: $white;
    @include box-shadow (0px, 10px, 10px, 0px, $sky-blue);
    &:hover, &:focus {
      background-color: $white;
      border:0;
      outline: 0;
        color:$blue;
      @include box-shadow(0px, 10px, 10px, 0px, rgba($blue, 0.3))   
      text-decoration:none;
    }

  }
    &.site-btn-blue {
    border: 0;
    color: $white;
    background-color: $blue;
    @include box-shadow(0px, 0px, 30px, 0px, rgba($blue, 0.3));  

    &:hover, &:focus {
      background-color: $pink;
      border:0;
      outline: 0;
        color:$white;
      @include box-shadow(0px, 0px, 30px, 0px, rgba($pink, 0.3));   
      text-decoration:none;
    }

  }

      &.site-btn-white {
    border: 1px solid rgba($blue,0.2);
    color: $blue;
    background-color: $white;
         outline: 0;
    @include box-shadow(0px, 0px, 30px, 0px, rgba($blue, 0));  

    &:hover, &:focus {
      background-color: $blue;
     border: 1px solid rgba($blue,1);
      outline: 0;
        color:$white;
      @include box-shadow(0px, 0px, 30px, 0px, rgba($pink, 0.3)); 
      text-decoration:none;  
    }

  }

  &:focus, &:hover {
    color: $white;
    outline: 0;
    text-decoration:none;
  }

}

.btn-txt-link{
   color:$blue;
}