
@font-face {
    src: url("#{$all-font-path}/urw_type_foundry_-_neuzeitgro-reg-webfont.woff2") format("woff2");
     src: url('#{$all-font-path}/urw_type_foundry_-_neuzeitgro-reg-webfont.woff') format('woff');
    font-family: $base-font-regular;
    font-weight: $font-weight-normal;
    font-style:$font-style-normal;
    font-display:swap;
}


@font-face {
    src: url("#{$all-font-path}/urw_type_foundry_-_neuzeitgro_bold-webfont.woff2") format("woff2");
     src: url('#{$all-font-path}/urw_type_foundry_-_neuzeitgro_bold-webfont.woff') format('woff');
    font-family: $base-font-bold;
   font-weight: $font-weight-normal;
    font-style:$font-style-normal;
    font-display:swap;
}
