@include placeholder {
	font-style: $font-style-normal;
	color: $less-blue !important;
	font-weight: $font-weight-normal;
	font-family: $base-font-regular;
	opacity: 0.4 !important;
	font-display: swap;
}

.formdesign_wrapper{
			padding: 44px;
			margin: 0 !important;
			border: 1px solid $pink;
			@include border-radius(20px, 20px, 20px, 20px);
			background:$white;

}

body {

		.gform_wrapper {
	
			.gform_body {
		

				li {
					select {
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						-webkit-appearance: none;
						-moz-appearance: none;
						-o-appearance: none;
						appearance: none;
						background: url(../images/select-dropdown-icon.png) transparent right center no-repeat;
						width: 100%;
					}

					.ginput_container {
						textarea {
							font-family: $base-font-regular;
							font-display: swap;
							font-style: $font-style-normal;
							font-weight: $font-weight-normal;
							font-size: $font-18;
							color: $blue;
							background-color: $white;
							@include box-shadow(0px, 0px, 30px, 0px, rgba($less-blue, 0.25));
							@include border-radius(4px, 4px, 4px, 4px);
							border: 0;
							padding: 6px 16px;
							opacity: 1;
							@include box-sizing(border-box);
							height: 120px;
							width: 100%;

							&:hover,
							&:focus {
								border: 0;
								color: $blue;
								@include box-shadow(0px, 0px, 30px, 0px, rgba($blue, 0.25));
							}

						}

						input {
							font-family: $base-font-regular;
							font-display: swap;
							font-style: $font-style-normal;
							font-weight: $font-weight-normal;
							font-size: $font-18;
							color: $blue;
							background-color: $white;
							@include border-radius(10px);
							border: 1px solid rgba($blue, 0.5);
							padding: 6px 16px !important;
							height: 65px;
							opacity: 1;
							@include box-sizing(border-box);
							width: 100%;

							&:hover,
							&:focus {
								border: 1px solid rgba($blue, 1);
								color: $blue;
							}

						}

						select {
							font-family: $base-font-regular;
							font-display: swap;
							font-style: $font-style-normal;
							font-weight: $font-weight-normal;
							font-size: $font-18;
							color: $blue;
							background-color: $white;
							@include box-shadow(0px, 0px, 0px, 0px, rgba($less-blue, 0));
							@include border-radius(4px, 4px, 4px, 4px);
							border: 0;
							height: 3.5rem;
							opacity: 1;
							@include box-sizing(border-box);

							&:hover,
							&:focus {
								border: 0;
								color: $blue;
								@include box-shadow(0px, 0px, 30px, 0px, rgba($blue, 0.25));
							}

						}

					}

					label {
						&.gfield_label {
							font-size: $font-18;
							margin-bottom: 8px;
							display: block;
							color: $blue;
							letter-spacing: 0.07em;
							font-family: $base-font-bold;
							letter-spacing: 1px;
							text-transform: uppercase;

							.gfield_required {
								color: $blue;
							}

						}

					}

				}

				ul.gform_fields {
					li {
						&::before {
							display: none;
						}

						margin: 0 0 15px 0 !important;
						padding: 0 !important;

						ul {
							li {
								&:last-child {
									margin: 0 0 0 0 !important;
								}

							}

							margin: 0;
							padding: 0;
						}

						&:before {
							display: none;
						}

						.ginput_container {
							max-width: 100% !important;
							width: 100% !important;
							margin-top: 0 !important;
							position: relative;
						}

						.ginput_container.ginput_container_date {
							img {
								position: absolute;
								right: 10px;
								top: 16px;
							}

						}

						.ginput_container_address {
							span {
								margin: 0px 0 20px 0 !important;
								min-height: inherit !important;

								&:first-child {
									margin: 0px 0 20px 0 !important;
									min-height: inherit !important;
									display: inline-block;
									width: 100%;
								}

							}

							span.ginput_left {
								width: 49%;
								margin: 0 2% 0 0 !important;
								padding: 0 !important;
								float: left;
							}

							span.ginput_right {
								margin-left: 0% !important;
								margin-right: 0 !important;
								width: 49%;
								padding: 0;
							}

						}

						.validation_message {
							margin: 0 !important;
							padding: 1px 0 0 0 !important;
							font-weight: $font-weight-normal;
							font-size: $font-14;
							color:$pink
						}

					}

					li.gf_left_half {
						width: 49%;
						margin-right: 2% !important;
						padding: 0 !important;
						float: left;
					}

					li.gf_right_half.field_description_below {
						margin-left: 0 !important;
						width: 49%;
						padding: 0 !important;
						margin-right: 0 !important;
						float: right;
						clear: inherit !important;
					}

					li.itsg_single_ajax {
						.gfieldset {
							display: -ms-flexbox;
							display: flex;
							-ms-flex-wrap: wrap;
							flex-wrap: wrap;
							-ms-flex-direction: column-reverse !important;
							flex-direction: column-reverse !important;
						}

					}

				}

				ul {
					li.field-nameLast {
						.ginput_container {
							span {
								width: 49%;
								margin: 0 2% 0 0 !important;
								padding: 0 !important;
								float: left;

								&:last-child {
									margin-left: 0% !important;
									margin-right: 0 !important;
								}

							}

						}

					}

					li {
						.ginput_container {
							input {
								&::-moz-placeholder {
									color: $less-blue;
									opacity: 1;
								}

								&::-webkit-input-placeholder {
									color: $less-blue;
									opacity: 1;
								}

								&:-ms-input-placeholder {
									color: $less-blue;
									opacity: 1;
								}

							}

							textarea {
								&::-moz-placeholder {
									color: $less-blue;
									opacity: 1;
								}

								&::-webkit-input-placeholder {
									color: $less-blue;
									opacity: 1;
								}

								&:-ms-input-placeholder {
									color: $less-blue;
									opacity: 1;
								}

							}

							select {
								color: $blue;
								opacity: 1;
							}

							option {
								color: $blue;
								opacity: 1;
							}

						}

						.ginput_container_checkbox {					
							li {
								overflow: visible;
								input {
									height: inherit;
									    position: absolute;
									    opacity: 0;
									    left: 0;
									    top: 0;
								}
								label{
									 padding: 4px 0 0 40px;
									 color:$less-blue;
									 font-size: $font-18;
									 font-family:$base-font-bold;
									 margin-bottom:8px;

									 &:before{
									  @include border-radius(0px);
									  border:0px;
									  @include transform(rotate(0deg));
									  top: 9px;
                                      left: 7px;
									    width: 16px;
									    height: 12px;
									    opacity: 0;
									    	background-image:url(../images/check.svg);
									    	background-repeat: no-repeat;
									    	background-position:center center;
									    	background-size:16px 12px;
									    	transform-origin: 0px 0px;
									
									 }
									 &:after{
									 	  width: 30px;
									     height: 30px;
									     border:1px solid rgba($blue, 0.5);
									     @include border-radius(5px);
									     @include transform(scale(1));	
									 }
								}
								input[type="checkbox"]:checked + label:before{
									  opacity: 1;
								}

							}

						}

					}

					li.field-file {
						label {
							margin: 0;
							padding: 0;
							z-index: 3;
							font-size: $font-18;
							line-height: normal;
							height: inherit;
							color: $blue;
							width: 100%;
							text-align: center;
							border: 0;
							line-height: 45px;
							max-width: 140px;
							font-weight: $font-weight-normal;
							@include box-shadow(0px, 0px, 30px, 0px, rgba($less-blue, 0.25));
							@include border-radius(4px, 4px, 4px, 4px);

							>span {
								display: none;
							}

							&:before {
								display: none;
							}

						}

						legend {
							border: none;
							margin: 0;
							top: 0 !important;
							line-height: normal;
							font-weight: $font-weight-normal;
						}

						.has-advanced-upload {
							input.itsg_ajax_upload_browse {
								position: relative;
								left: 0;
								top: -56px;
								height: 45px;
								max-width: 140px;
								opacity: 0;
								font-weight: $font-weight-normal;
							}

						}

						.itsg_single_ajax.has-advanced-upload {
							padding: 0;
							margin: 10px 0 0 0;
							border: none;
							@include border-radius(0px, 0px, 0px, 0px);
							width: 100%;

							.results-bar.results-bar-success {
								background: transparent;
								color: #000;
								margin: 0;
								padding: 0;
								line-height: normal;

								a {
									color: $less-blue;
									font-size: $font-18;
									text-decoration: none;
									width: 200px;
									white-space: nowrap;
									overflow: hidden;
									text-overflow: ellipsis;
									margin: 0;
									resize: none;
									display: inline-block;
								}

							}

							.results {
								width: auto;
								display: inline-block;
								vertical-align: top;
							}

						}

						.itsg_single_ajax.has-advanced-upload.itsg_ajax_upload_dropzone {
							height: 15px;
						}

						input.button.itsg_single_ajax_button.itsg_single_ajax_button {
							background: $red;
							border: none;
							color: $white !important;
							outline: none;
							margin: 5px 0 0 0;
							@include border-radius(4px, 4px, 4px, 4px);
							font-size: $font-18;
							padding: 2px 12px;
							line-height: normal;
							outline: 0;
						}

						input.button.itsg_single_ajax_button.itsg_single_ajax_remove {
							margin: 0 0 0 10px;
						}

					}

				}

				.progress.uploading {
					margin: 10px 0 0 0;
				}

			}

			.gform_page_footer {
				border: none;
				outline: none;
				margin: 30px 0 0 0;
				padding: 0px 0 0 0;
			}

			div.validation_error {
				display: none !important;
			}

			.terms-condition-row {
		
				label {
					&.gfield_label {
						display: none !important;
					}

				}

			}

			.gform_footer {
				margin: 60px 0 0 0 !important;
				padding: 0 0 0 0 !important;

				input.gform_button {
					font-size: $font-20;
					font-weight: $font-weight-normal;
					font-family: $base-font-bold;
					padding: 17px 30px;
					@include border-radius(100px);
					line-height: 26px;
					font-display: swap;
					outline: 0;
					color: $white;
					text-decoration: none;
					@include transition(0.3s all ease);
					cursor: pointer;
					display: block;
					border: 0;
					color: $white;
					background-color: $pink;
                    width:100%;
					@include box-shadow(0px, 0px, 30px, 0px, rgba($pink,0.3))   
					&:focus,&:hover {
						       background-color: $dark-pink;
						      border:0;
						      outline: 0;
						        color:$white;
						      @include box-shadow(0px, 0px, 30px, 0px, rgba($pink, 0.5));   
						      text-decoration:none;
					}

					&:focus {
						background-color: $blue;
						border: 0;
						outline: 0;
						@include box-shadow(0px, 0px, 30px, 0px, rgba($blue, 0.25))
					}

				}

			}

			li.phone-field {
				.gfield_description.validation_message {
					display: none;
				}

			}
             &.gform_validation_error{
             .gform_body {
                ul{
                   li{
                       &.gfield_error {
                         input,
                         textarea{
                             border:1px solid $pink;
                         }
                          
                       }
                   }
                }
             }
             	
             }
		}

	

}

.gform_wrapper.gform_validation_error {
	.top_label {
		input.medium {
			width: 100% !important;
		}

		select.medium {
			width: 100% !important;
		}

	}

	.gform_body {
		ul {
			li.gfield.gfield_error {
				&:not(.gf_left_half) {
					&:not(.gf_right_half) {
						max-width: 100% !important;
						width: 100% !important;
						max-width: 100% !important;
						border: none;
						background: transparent;

						.ginput_container {
							input {
								border: 1px solid $pink !important;
							}

						}

					}

				}

				textarea {
					border: 1px solid $pink !important;
				}

			}

			li.gfield_error {
				max-width: 100% !important;
				border: none;
				background: transparent;

				.ginput_container {
					input {
						border: 1px solid $pink !important;
					}

				}

			}

		}

	}

	form {
		.gform_body {
			ul {
				li.gfield.gfield_error {
					&:not(.gf_left_half) {
						&:not(.gf_right_half) {
							max-width: 100% !important;
						}

					}

				}

			}

		}

	}

}

.gform_footer {
	input.gform_button {
		font-size: $font-20;
		font-weight: $font-weight-normal;
		font-family: $base-font-bold;
		padding: 17px 30px;
		@include border-radius(100px);
		line-height: 26px;
		font-display: swap;
		color: $white;
		outline: 0;
		text-decoration: none;
		@include transition(0.3s all ease);
		cursor: pointer;
		border: 0;
		background-color: $pink;

		@include box-shadow(0px, 0px, 30px, 0px, rgba($pink,0.3))  
		&:focus,&:hover {
			background-color: $blue;
			border: 0;
			outline: 0;
			@include box-shadow(0px, 0px, 30px, 0px, rgba($blue, 0.3))   
			color: $white;
			outline: 0;
		}

	}

}

.gform_ajax_spinner {
	display: none !important;
}

.gform_confirmation_message {
	color: $green;
	background: transparent;
	width: 100%;
	display: inline-block;
	padding: 50px 30px 130px;
	text-align: center;
	line-height: normal;
	font-size:22px;
	font-family:$base-font-bold;
}

.gchoice_select_all {
	font-weight: $font-weight-normal !important;
}

.gfield_list {
	.results.done {
		.results-bar-success {
			background: transparent;
		}

	}

	.results.done-thumbnail {
		.results-bar-success {
			img {
				&:not(.thumbnail) {
					background: transparent;
				}

			}

		}

	}

}

.itsg_single_ajax {
	.results.done {
		.results-bar-success {
			background: transparent;
		}

	}

	.results.done-thumbnail {
		.results-bar-success {
			img {
				&:not(.thumbnail) {
					background: transparent;
				}

			}

		}

	}

}

input:not([type]):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	@include box-shadow(0px, 0px, 30px, 0px, rgba($less-blue, 0.25));
	border: 0;
}



/*********IE css****/
body .gform_wrapper.gf_browser_ie .gform_footer input.button{
	padding:17px 30px;
}


