*,
*::after,
*::before {
	box-sizing: border-box;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}



html {
	box-sizing: border-box;
	::-moz-selection { /* Code for Firefox */
  background: #AFDDFF;
    color: #000;
    text-shadow: none;
}

::selection {
    background: #AFDDFF;
    color: #000;
    text-shadow: none;
}

}


body {
	font-size: $font-18;
	font-weight: $font-weight-normal;
	font-style: $font-style-normal;
	font-family: $base-font-regular;
	font-display: swap;
	color: $less-blue;
	overflow-x: hidden;
	font-display: swap;
	margin: 0;
	padding: 104px 0 0 0;

	img {
		width: auto;
		max-width: 100%;
	}

	.page-content,
	.entry-content,
	.entry-summary ,
	.page,
	.post{
		margin: 0;
	}
	&.page-id-6{
		position: relative;
		@include gradient(left, $list5);
		 	 &:before{
	 	 background-repeat: no-repeat;
	 	 background-size: contain;
        z-index: 0;
	 	 position: absolute;
	 	  content: "";
	 	   width:820px;
	 		 height: 755px;
	 	     top: -26px;
         right: -167px;
	 	background-image:url(../images/union-bg-1.png);
	 	z-index: -1;	
	 	
	 }
	}

}
.page,
.post{
	 margin:0 !important;
}
.container {
	width: 100%;
	max-width: 1215px;
	margin: auto;
	padding: 0 15px;
	z-index:55;
	position:relative;
}

.container-sm {
	width: 100%;
	max-width: 920px;
	margin: auto;
	padding: 0 15px;
	z-index:55;
	position:relative;
}

.container-xsm{
		width: 100%;
	max-width: 810px;
	margin: auto;
	padding: 0 15px;
	z-index:55;
	position:relative;
}
.sky-blue-bg{
	 background-color: $sky-blue;
}

.mb-15 {
	margin-bottom: $space-15;
}
.mb-20 {
	margin-bottom: $space-20;
}
.mb-30{
	margin-bottom: $space-30;
}
.mb-40 {
	margin-bottom: $space-40;
}

.mb-50 {
	margin-bottom: $space-50;
}
.mb-60 {
	margin-bottom: $space-60;
}
.mb-70 {
	margin-bottom: $space-70;
}
.mb-80 {
	margin-bottom: $space-80;
}
.mb-90 {
	margin-bottom: $space-90;
}
.mb-100 {
	margin-bottom: $space-100;
}
.mb-136 {
	margin-bottom: $space-136;
}
.mb-146 {
	margin-bottom: $space-146;
}
.mb-160{
	margin-bottom: $space-160
}
.mb-200{
	margin-bottom: $space-200
}
.center-box{
		position: absolute;
		top: 50%;
		@include transform(translateY(-50%));
		left: 0;
		right: 0;
		margin: auto;
}
.rounded-10{
	 @include border-radius(10px);
}
.rounded-100{
	 @include border-radius(100%);
}


/*******site content*********/
.static-page{
	 position: relative;
	 overflow: hidden;

	 .wp-block-group__inner-container{
	 	  /*  max-width: 920px;
	 	        width: 100%;
    margin: auto;
    padding: 0 15px;*/
    z-index: 55;
    position: relative;
	 }
	 /*	&:before {
		position: absolute;
		content: "";
		background-image: url(../images/union-bg-left.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position:left top;
		    width: 238px;
    height: 495px;
		top: 0%;
		left: 0;
		z-index: 0;
	}
		&:after {
		position: absolute;
		content: "";
		background-image: url(../images/union-bg-right.png);
		background-repeat: no-repeat;
		background-size: contain;
			background-position:right top;
		z-index: 0;
	bottom: 0;
    width: 216px;
    height: 384px;
    right:0;
	}
*/
section,
 .container-sm{ 
   position:relative;
   z-index:55;   
 }

}
.left-union-bg, .right-union-bg {
	position: relative;

	.container, .container-sm, .container-xsm {
		position: relative;
		z-index: 2;
	}

}

.left-union-bg {
	&:before {
		position: absolute;
		content: "";
		background-image: url(../images/union-bg-left.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: left top;
		width: 318px;
		height: 496px;
		top: -20px;
		left: 0;
		z-index: -1;
	}

}

.right-union-bg {
	&:after {
		position: absolute;
		content: "";
		background-image: url(../images/union-bg-right.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: right top;
		z-index: -1;
		width: 432px;
		height: 735px;
		right: 0;
		bottom: -20px;
	}

}


/*****site-content*****/
/****header******/
header {
	    padding-top: 19px;
    padding-bottom: 16px;
	position: fixed;
	left: 0;
	right: 0;
	top:0;
	z-index: 999;
	background-color: $white;
	@include transition(all 0.3s ease);

	.flex-row{
		 margin-bottom: 0
	}
	.show-on-small{
	 display:none;
	}
     .logo {
     	a{
     		  display: inline-block;
     		  position: relative;top:5px;
     		  max-width: 250px;
     		  @include transition(all 0.3s ease); 
     	}
     }
	#site-navigation {
		background-color: transparent;
		height: auto;
		@include box-shadow(0, 0, 0, 0, $transparent);

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: block;

			li {
				margin: 0 0 0 15px;
				vertical-align: middle;
				display: inline-block;
				float: none;
				position:relative;

				a {
					font-size: $font-20;
					font-weight: $font-weight-normal;
					font-family: $base-font-bold;
					line-height: $font-20;
				}

				&:before {
					display: none;
				}

				&.text-link {
					&.current-menu-item{
						&:after{
							content: "";
						    position: absolute;
						    width: auto;
						    height: 3px;
						    background-color:$pink;
						    left: 15px;
						    bottom: -42px;
						    right: 15px;
						}
					}
					a {
						color: $blue;
						text-decoration: none;

						&:hover {
							color: $pink;
							background-color: $transparent;
						}

					}

				}

				&.btn-link {
					a {
						border: 0;
						color: $white;
						background-color: $pink;
						@include box-shadow(0px, 0px, 30px, 0px, rgba($pink, 0.3))  
						padding: 6px 30px 8px;
						@include border-radius(100px);
						line-height: 25px;
						font-display: swap;
						outline: 0;
						color: $white;
						text-decoration: none;
						@include transition(0.3s all ease);
						cursor: pointer;

						&:hover {
							     background-color: $dark-pink;
							      border:0;
							      outline: 0;
							        color:$white;
							      @include box-shadow(0px, 0px, 30px, 0px, rgba($pink, 0.5));   
							      text-decoration:none;
						}

					}

				}

			}

		}

	}
		&.darkHeader{
	 	 padding-top: 6px;
          padding-bottom: 8px;
          @include transition(all 0.3s ease);
          @include box-shadow(0px, 0px, 22px, 0px, rgba($blue, 0.4));
          #site-navigation{
          	 ul{
          	 	li{
          	 		 &.text-link{
          	 		 	 &.current-menu-item{
          	 		 	 	 &:after{
          	 		 	 	 	    bottom: -29px;
          	 		 	 	 }
          	 		 	 }
          	 		 }
          	 	}
          	 }
          }
         .logo{
         	  a{
         	  	  max-width: 180px;
         	  	  @include transition(all 0.3s ease);
         	  	  top:10px;
         	  }
         }
	 }

}






/*******banner section***********/
.banner-section {
	position: relative;
	height: 939px;
	overflow: hidden;
	/*@include gradient(left, $list4);*/
	background-image: url(../images/banner-bg.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-position: top left;
    	&:before {
		background-image: url(../images/banner-union-bg.png);
		content: "";
		position: absolute;
		right: 0px;
		top:-100px;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-position: right bottom;
		width:1034px;
		height: 1289px;
		    opacity: 0.7;
		z-index: 1;
    	}
		&:after {
		background-image: url(../images/after-image.png);
		content: "";
		position: absolute;
		right: 0px;
		bottom:0;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-position: top left;
		width:100%;
		height: 939px;
		 opacity: 1;
		z-index: 2;
	}
	.container{
		 position: static;
	}

	.banner-animation {
		position: absolute;
		right: 0;
		top: 50px;
		z-index: 55;
		width: 100%;
		max-width:900px;

		img {
			/*max-height: 650px;*/
		}

	}

	.col-left {
		padding-top: 140px;
		position: relative;
		z-index: 55;

		.subheading-h {
			font-family: $base-font-bold;
			color: $blue;
			max-width: 630px;
			width: 100%;
		}
		.subheading-b{
			    max-width: 528px;
			    width: 100%;
		}

	}

}

.page-id-7{
	 .banner-section{
	 	 .banner-animation{
	 	 	 margin-right:80px;
	 
	 	 }
	 }
}
.toolkit-banner-section {
	position: relative;
	height:665px;
	overflow: hidden;

	/*@include gradient(left, $list4);*/
	background-image: url(../images/banner-bg.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-position: top left;
			padding-top: 100px;
	      padding-bottom: 100px;
    	&:before {
		background-image: url(../images/banner-union-bg.png);
		content: "";
		position: absolute;
		right: 0px;
		    top: -228px;
		background-size: 100% auto;
		background-repeat: no-repeat;
		background-position: right top;
		    width: 949px;
    height: 1200px;
		    opacity: 0.7;
		z-index: 1;
    	}
		&:after {
		background-image: url(../images/after-image.png);
		content: "";
		position: absolute;
		right: 0px;
		bottom:0;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-position: top left;
		width:100%;
		    height: 665px;
		 opacity: 1;
		z-index: 2;
	}
   .center-align{
   	 position: relative;
   	 z-index: 55
   }

		.subheading-b{
			    max-width: 780px;
			    width: 100%;
			    margin-left: auto;
			    margin-right: auto;
		}
 
		.site-btn{
			  margin: 0 8px 10px;
		}



}
/*****Aboput us *************/
.about-section {
	position: relative;


	img {
		margin-bottom: 5px;
	}

	.txt-s {
		text-transform: uppercase;
		font-family: $base-font-bold;
		color:$blue;
        letter-spacing: 1px;
	}
	.txt-h{
		  p{
		  	line-height: 59px;
		  }
	}

}
/*******two col section*********/
.two-column-section {
	.center-box {
		width: 110px;
		height: 110px;
		top:46%;
	}

	.circle-img {
		&.aos-init {
			img {
				animation: rotation 5s infinite ease-in-out;
				animation-delay: 2s
			}

		}

	}


	.d-flex {
		display: flex;

		.col {
			position: relative;
			float: none;
		}
       
    
		&.left-image {
			.content {
				padding-left: 90px;
			}

		}

		&.right-image {
			flex-direction: row-reverse;

			.content {
				padding-right: 90px;
			}

		}

	}
	 /************/
		.sot-img-col {
			.col {
				float: left;
			}

		}
        /**************/
		.cloud-img-col {
			position: relative;

			.img2 {
				position: absolute;
				top: 0;
				right: 0px;
				.lines-block{
					background-image:url(../images/could-img-lines.png);
					background-repeat: no-repeat;
					background-size: contain;
					background-position: 0 0;
					position: absolute;
					bottom: -50px;
					right: 0;
					width: 135px;
					height: 105px;
					z-index: -1;
					opacity: 0;
					@include transition(all 0.8s ease);
					 transition-delay: 1s;

				}
				.aos-animate{
					  .lines-block{
                       opacity: 1
					  }
				}

			}

			.img3 {
				position: absolute;
				right: 80px;
				bottom: 124px;
				z-index: 55;
				img{
					  width:80px;
					  height: auto;
				}
			}

		}
         /***********/
		.no-merge-img-col {
			position: relative;

			.tick {
				position: absolute;
				width: 22px;
				height: 22px;
				display: inline-block;
				right: 70px;

				&.tick1 {
					bottom: 210px;
				}

				&.tick2 {
					bottom: 150px;
				}

				&.tick3 {
					bottom: 90px;
				}

			}

		}
		/*********************/
     
}
@keyframes rotation {
  0%,40% {
    transform:rotate(360deg);
  }
  100% {
  transform:rotate(0deg);
  }

}

/**********video saection*********/
.video-section {
	.videobox {
		max-width: 780px;
		width: 100%;
		height: 491px;
		background-size: cover;
		background-repeat: no-repeat;
		margin: 0 auto;
		position: relative;
		@include border-radius(10px);
		overflow: hidden;
		&:after{
			  width:100%;
			  height: 100%;
			  left: 0;
			  bottom: 0;
			  content: "";
			  position: absolute;	
			 @include gradient(bottom, $list6);	  
		}
         
		.txt-big-bold {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 15px 15px 40px;
			color: $white;
			text-align: center;
			    max-width: 560px;
               margin: 0 auto;
               z-index: 5
		}

		.play-icon {

			     height: 82px;
             background-image:url(../images/play-icon.png);
             background-repeat: no-repeat;
             background-position:-4px -1px;
			width: 82px;
			 z-index: 5;
			 &:hover{
			 	   background-position:bottom center;
			 }
	    	}
		
		}

	}



/********three column  boxes***********/
.three-column-boxes{
	.column-box{
		border-style:solid;
		border-width:0px 1px 1px 1px;
		border-color: rgba($blue, 0.3);
		@include border-radius(5px, 5px, 20px, 20px);
		padding:40px;
		position: relative;
		overflow: hidden;
		min-height: 387px;
		background-color: $white;
		margin: 0 15px;
		figure{
			 margin: 0;
			 padding: 0;
			 text-align: center;
			 min-height:100px;
		}
		h5{
			 margin-bottom: 19px;
		}
		.txt-m{ 
              p{
                line-height:28px;
              }
		  }
		&:before{
			content: "";
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			height: 4px;
			background-color: $pink;
		}

	}
}
.home{
	  .three-column-boxes{
	  	  &:after {

		background-image: url(../images/curv-graphic.svg);
		background-position: center top;
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: absolute;
		top:155px;
		width: auto;
		height: 850px;
		left: 0;
		margin: 0;
		right: 0;
		z-index: -1;
		content: "";

}
	  }
}
.three-listing-view{
	 .column-box{
	   position:relative;
	   padding: 0 0 0 100px;
	       img{
	       	   position: absolute;
	       	   left: 0;
	       	   top:0;
	       }
	       h5{
	       	  margin-bottom: 10px;
	       }
	 }
}
/**********CTA section *******/
.cta-section-rounded{
	  .content{
	  	 @include gradient(left, $list1);
	  	 @include border-radius(300px);
	  	 position: relative;
	  	 padding: 100px;
	  	 &:after{
	  	 	  background-image:url(../images/cta-union-bg.png);
	  	 	  content: "";
	  	 	  position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
	  	 }
	  	 > div {
	  	 	 position: relative;
	  	 	 z-index: 55
	  	 }
	  	 h2{
	  	 	  font-size: 56px;
	  	 	  line-height: 60px;
	  	 	  color:$white;
	  	 	      max-width: 690px;
    margin: 0 auto 30px;
    width: 100%;

	  	 }
	  	 .subheading-b{
	  	 	 p{
 color:$white;
 font-size: 26px;
 line-height: 30px;	
     max-width: 559px;
    margin: 0 auto;
	  	 }
	  	 }
	  	
	  }
}
.cta-section {
	@include gradient(left, $list1);
	padding-top: 106px;
	padding-bottom: 120px;
	.container {
		position: relative;
	}

	p,
	h2 {
		color: $white;
	}

	.icon-box {
		position: absolute;

		&.icon-1 {
			top: -69px;
			left: 67px;
		}

		&.icon-2 {
			left: -100px;
		}

		&.icon-3 {
			bottom: -64px;
			left: 135px;
		}

		&.icon-4 {
			top: -78px;
			right: 72px;
		}

		&.icon-5 {
			bottom: -42px;
			right: -53px;
			width: 154px;
		}

		&.icon-6 {
			right: 143px;
			bottom: -52px;
		}

	}

}
/********Quote section********/
.quote-section{
   .quote-box{
   	   background-color: $white;
	   @include border-radius(40px);
	   @include box-shadow(0px, 10px, 40px, 0, $sky-blue)
	   padding: 65px 0 0;
	   max-width: 980px;
	   margin:0 auto;
	   position: relative;
	   .quote-text{
            padding: 0 113px;
                margin-bottom: 60px;
                text-align: center;
               p{
               	    font-size: $quote-font;
                    line-height: 52px; 
               }
	   }
	   .quote-footer{
	   	  display: table;
	   	  width: 100%;
	   	  border-top:1px solid rgba($blue, 0.2);
	   	  .tbl-col{
	   	  	  display: table-cell;
	   	  	  padding: 20px 10px; 
	   	  	  text-align: center;
	   	  	  vertical-align: middle;
	   	  	  width: 50%;
	   	  	  &:first-child{
	   	  	  	  border-right:1px solid rgba($blue, 0.2);	
	   	  	  	   font-size: $font-26;
		   	  	  font-family: $base-font-bold;   	
		   	  	  color:$blue; 
	      	  }
	      	  &.quote-company{
	      	    	   font-size: $font-26;
		   	  	  font-family: $base-font-bold;   	
		   	  	  color:$blue; 
	      	  }
	      	  &:last-child{
	      	  	 img{
	      	  	 	     display: inline-block;
				    height: auto;
				    vertical-align: middle;
	      	  	 }
	      	  }
	   	 
	      }
      }
      .quote-icon{
      	    position: absolute;
		    top: -18px;
		    left: 0;
		    right: 0;
		    margin: 0 auto;
		    width: 48px;
	   }
   }
}

/***************Footer***********/
.site-footer {

	padding-top:60px;
	border-top:1px solid rgba($blue, 0.2);
	background-color: $white;
		.footer-logo{
			 a{
			 	 display: block;
			 	 margin-top: -15px;
			 }
		}
	.menu {
		padding-left: 35px;
		li {
			padding: 0;
			margin: 0 0 10px 0;
			a {
				color: $blue;
				text-decoration: none; 
				&:hover {
					color: $pink;
					text-decoration: underline;
				}
			}
			&:before {
				display: none;
			}
			&.current_page_item{
				 a{
				 	  color: $pink;
				 }
			}

		}

	}

	.footer-form {
	   .gform_wrapper{
	   	  margin-top: 0;
	   	    	.gform_heading {
			margin-bottom: 44px;

			h3 {
				font-size: $font-size-h5;
				line-height: $font-size-h5;	
				margin: 0;
			}

			.gform_description {
				font-size: 16px;
				color: $less-blue;
			}

		}

		.gform_body {
			position: relative;
			ul{
				 padding: 0;
				 margin: 0;
			}

			li { 
				padding: 0 !important;
				&.gfield {
					margin-bottom: 0 !important;
					&.gfield_error{
                       padding-top: 0 !important;
                       padding-bottom: 0 !important;
					} 
				}


			}

			.gfield_label {
				display: none;
			}

			input {
				&[type="text"] {
					font-size: $font-20;
					color: $blue;
					padding: 15px 160px 15px 25px !important;
					margin-bottom: 0 !important;
					@include border-radius(40px, 40px, 40px, 40px);
					border: 1px solid rgba($blue, 0.2) !important;
					height: auto;
					width: 100%;
				}

			}
			.gfield_description{
				 position: absolute;
			}

		}

		.gform_footer {
			position: relative;
			float: right;
			display: inline-block;
			width: auto;
			top: -61px;
			    margin: 0;
           padding: 0;

			input {
				&[type="submit"] {
					font-size: $font-20;
					font-weight: $font-weight-normal;
					font-family: $base-font-bold;
					padding: 17px 30px;
					@include border-radius(100px);
					line-height: 26px;
					font-display: swap;
					outline: 0;
					color: $white;
					text-decoration: none;
					@include transition(0.3s all ease);
					cursor: pointer;
					display: inline-block;
					border: 0;
					color: $white;
					background-color: $blue;
					margin:0;

					@include box-shadow(0px, 0px, 30px, 0px, rgba($blue,0))  
					&:hover,&:focus {
						background-color: $pink;
						border: 0;
						outline: 0;
						color: $white;
						@include box-shadow(0px, 0px, 30px, 0px, rgba($pink, 0.3))
					}

				}

			}

		}
	   }
	
	}
   .footer-credit{
   	 border-top:1px solid rgba($blue, 0.1);
   	 margin-top: 40px;
   	  .container{
   	  	  .copyrighttxt{
   	  	  		 
   	  	padding-top: 34px;
    padding-bottom: 34px;
   	  	  font-size: $font-18;
   	  	  color:$less-blue;
   	  	    a{
   	  	   	 text-decoration: none;
   	  	   	 color:$less-blue;
   	  	   	 &:hover{
   	  	   	   text-decoration:underline;
   	  	   	   color: $blue;
   	  	   	 }
   	  	   }
   	  	  }
   	  

   	  }
   }
}
/***********Popup design*******/
.video-popup{
	 .modal-content{
	 	 padding: 0
	 }
	 .modal-close{
	 	    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    background: $pink;
    color: $white;
    text-decoration: none;
    font-size: $font-22;
    font-family: $base-font-bold;
    line-height: 31px;
    padding: 0;
    margin: 0;
    text-align: center;
    @include border-radius(0, 0, 0, 6px);
    z-index: 99
	 }
}
/*******responsive iframe-*********/
.iframe-div{
	  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; 
  .responsive-iframe{
  	  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  }
}

/*******Dmo page*****/
.demo-page-top-section{
margin:100px 0 80px 0;
	.col-left{
		.pr-80 {
		  padding-right:80px;

			}
		  h1{
		    font-size:$font-size-h2;
		    line-height: 70px;
		  } 
	}
    .formdesign_wrapper{
      padding-bottom:100px !important;
    }
	    .policytxt{
	    text-align: center;
	    top: -65px;
	    position: relative;
	    padding: 0 15px;	
	      a{
            display: inline-block;
            color:$less-blue;
            text-decoration: underline;
            &:hover{
               color:$blue;
            text-decoration: underline;
            }
	      }
	    }
}
/****Tabbing section*****/
.tabbing-section {
	.tabs{
	   list-style:none;
	   text-align: center;
	   overflow: visible;
	   background-color: $transparent;
	   max-width: 600px;
    display: block;
    margin: 0 auto;
	   	 .indicator{
	   	   	 display:none;
	   	   } 
	   .tab{
	   	  display: inline-block;
	   	  margin: 0;
	   	      float: left;
	   	  &:before{
	   	   	 display:none;
	   	   }      
	   	   a{
	   	   	  background: $white;
				@include border-radius(0px);
				 border-width:1px 1px 1px 0;
				 border-style: solid;
				 border-color: rgba($blue, 0.2);
				 padding: 10px 25px;
				 color:$blue;
				 font-size: $font-20;
				 line-height: $font-24;
				 text-transform: capitalize;
				 text-decoration: none;
				 font-family:$base-font-bold;
				     max-width: 200px;
                     min-width: 200px;
				    &:hover{
				     border-width:1px 1px 1px 0;
					 border-style: solid;
					 border-color: rgba($blue, 0.3);
					 box-shadow: 0px 10px 20px 0 ($sky-blue, 0);
					 color:$blue;
					 background-color: rgba($sky-blue, 0.3);
				    }
				    &.active{
				     border-width:1px 1px 1px 0;
					 border-style: solid;
					 border-color: rgba($blue, 0.3);
					 box-shadow: 0px 10px 20px 0 $sky-blue;
					 color:$pink;
					 background-color:$white;
				    }
				 
	   	   }
	   	   &:first-child{
	   	   	   a{
	   	   	   	  border-left-width: 1px;
	   	   	   	  	@include border-radius(5px, 0, 0, 5px);
	   	   	   	   &.active{
                        border-left-width: 1px;  
	   	   	   	   }
	   	   	   }
	   	      }
	   	   	   &:nth-child(3){
	   	   	   a{
	   	   	   	  	@include border-radius(0px, 5px, 5px, 0);
	   	   	   }
	   	   }
	   }
	}
	.tab-content{
		  padding: 80px 0;
		      max-width: 800px;
    margin: 0 auto;
     .subheading-m{
     	 p{
     	 	  line-height: 34px;
     	 }
     }
     .content{
     	  @include transition(all 10s ease);
     	  opacity: 0;
     	  &.active{
     	  	  @include transition(all 10s ease);
     	      opacity: 1;
     	  }
     }
	}
}

/***********stats section***********/
.stats-section{
	 .col-left{
	 	 padding-right: 103px;
	 }
	 .col-right{
	 	  .stats{
	 	  	  display: table;
	 	  	  width:100%;
	 	  	  border-top:2px solid rgba($blue, 0.2);
	 	  	  .tbl-col{
	 	  	  	  display: table-cell;
	 	  	  	  vertical-align: middle;
                  padding: 30px 0;
                  color: $blue;
                  &.stat-number{
                  	 color:$pink;
                  	 font-size: 110px;
                  	 font-family: $base-font-bold;
                  	 width: 40%;
                  	 em{
                  	        font-style: normal;
                              font-size: 72px;
                  	 }
                  }  
	 	  	  }
	 	  }
	 }
}

/************sky blue section ********/
.logo-info-section{
	  .sky-blue-bg{
	  	  padding: 60px 100px;
	  	  @include border-radius(10px);
	  	  .col-right{
	  	  	 padding-left: 95px;
	  	  }
	  	  h5{
	  	  	 margin-bottom: 10px;
	  	  }
	  	  svg{
	  	  	  max-height: 525px;
	  	  }
	  }
} 

/*************business-logos****************/
.logo-list{
	  .txt-small-bold{
	  	 text-transform: uppercase;
	  	 letter-spacing: 2px;
	  }
	  .logobox{
	  	 display: inline-block;
	  	 width: 196px;
	  	 height: 125px;
	  	 position: relative;
	  	 overflow: hidden;
	  	 margin: 5px 2px;
	  	 img{
	  	 	 position: absolute;
		    top: 50%;
		    left: 0;
		    transform: translateY(-50%);
		    max-width: 100%;
		    width: auto;
		    height: auto;
	  	 }
	  }
}
.logo-grid{

	 .logobox{

              float: none;
      width: 215px;
      display: inline-block;
			height: 130px;
			border:1px solid rgba($blue, 0.2);
			margin: 8px 20px;
			display: inline-block;
			@include border-radius(10px);
			position: relative;
        img{
  	   	 position: absolute;
		    top: 50%;
		    transform: translateY(-50%);
		    max-width: 100%;
		    width: auto;
		    height: auto;
		    left: 0;
		    right: 0;
		    margin: 0 auto;
	       }

	               &:hover{
	                 @include box-shadow(0px, 0px, 30px, 0px, rgba($blue, 0.3)); 
	               }
  }
}
/***********Only title para info*******************/
.only-title-para-info-small{
	.container-sm{
		 	max-width: 810px;
	}
	 .subheading-b{
	 	  p{
	 	  font-size: 20px;
          line-height: 31px;
	 	  }
	 }
}

/**********Image top and content****/
.image-content-section{
	 .txt-m{
	 	line-height: 30px;
	 	  p{
	 	  	 line-height: 30px;
	 	  }
	 }
}

/*******Team members*****/
.team-members{
	text-align: center;
	 .txt-medium-bold{
	 	color:$pink;
	 	text-transform: uppercase;
	 }
	 .txt-m{
	 	max-width: 300px;
	 	margin:0 auto;
	 	  p{
	 	  	  line-height: 30px;
	 	  }
	 }
	 .col{
	 	  float: none;
	 	  display: inline-block;
	 	 margin: 0 -10px;
	 }
}

/********FAQ css**********/
.faq-content{
	ul{
		&.collapsible {
			border:0;
			@include box-shadow(0, 0, 0, 0, rgba($blue, 0));
		 	  li{
		 	  	 padding:0;
		 	  	 &:before{
		 	  	 	display:none;
		 	  	 }
		 	  	 @include border-radius(10px);
		 	  	 overflow:hidden;
		 	  	 border:1px solid rgba($blue, 0.2);
		 	  	 .collapsible-header{
		 	  	 	  @include border-radius(10px, 10px, 0, 0);
		 	  	 	  border:0;
		 	  	 	  line-height:25px;
		 	  	 	  font-size: 22px;
		 	  	 	  color:$blue;
		 	  	 	  position: relative;
		 	  	 	  font-family: $base-font-bold;
		 	  	 	  padding:22px 170px 22px 20px;	
		 	  	 	  &:hover,
		 	  	 	  &:focus{
		 	  	 	  	  outline:none;
		 	  	 	  	  @include box-shadow(0, 0, 0, 0, rgba($blue, 0));
		 	  	 	  	  border:0;
		 	  	 	  }
		 	  	 	  .icon{
		 	  	 	  	  position: absolute;
		 	  	 	  	  right:30px;
		 	  	 	  	  width:26px;
		 	  	 	  	  height: 26px;
		 	  	 	  	  display: block;
		 	  	 	  	  top:29px;
		 	  	 	  	  span{
                             background-color: $pink;
                             height: 2px; 
                             width:100%;
                             display: block;
                             position: relative;
                             @include border-radius(5px);
                             @include transition(all 0.3 ease)
                             &:first-child{
                             	 top:2px;
                             }
                             &:last-child{
                             	 @include transform(rotate(90deg));
                             }
		 	  	 	  	  }
		 	  	 	  }
		 	  	 }
		 	  	 &.active{
		 	  	 	@include box-shadow(0px, 10px, 40px, 0, $sky-blue)
		 	  	 	  .collapsible-header{
		 	  	 	  	  color:$pink;
		 	  	 	  	  .icon{
		 	  	 	  	  	  span{
		 	  	 	  	  	  	 &:last-child{
		 	  	 	  	  	  	 	opacity:0;
		 	  	 	  	  	  	 }
		 	  	 	  	  	  }
		 	  	 	  	  }
		 	  	 	  }
		 	  	 }
		 	  	 .collapsible-body{
		 	  	 	  padding: 0 22px 25px 22px;
		 	  	 	  border: 0;
		 	  	 	  font-size: 20px;
		 	  	 	  	  line-height: 30px;
		 	  	 	  	  color:$less-blue;
		 	  	 	  p{
		 	  	 	  	  font-size: 20px;
		 	  	 	  	  line-height: 30px;
		 	  	 	  	  color:$less-blue;
		 	  	 	  }
		 	  	 }
		 	  }
		 } 
	}

}

/******table design******/
.data-tble-section{
	.tbldesign{
		@include border-radius(10px);
		border:1px solid rgba($blue, 0.2);
		overflow-x: auto;
		width: 100%;
		table{
			min-width: 740px;
			margin-bottom: 0;
		tr{
			 background-color: $white;
			 &:nth-child(2n){
			 	 background-color: $sky-blue;
			 }
			 th, td{
                font-size: 20px;
                color:$blue;
                padding: 13px;
			 }
			 th{
			 	  font-family: $base-font-bold;
			 }
		}
	}
  }
}
/*********Sitemap page*********/
.static-page{
	 margin-top: 100px;
	 margin-bottom: 100px;
	 h1{
	 	  font-size: 50px;
	 	  line-height: 58px;
	 	      margin-bottom: 80px;
	 	      text-align:center;
	 }
	 h2{
	 	  font-size: 39px;
          line-height: 48px;
	 }
	 h3{
	 	  font-size: 35px;
	 	  line-height: 38px;
	 }
	 h4{
	 	 font-size: 30px;
	 	 line-height: 35px;
	 }
	 ul{
	 	 li{
	 	 	  a{
	 	 	  	  color:$blue;
	 	 	  	  &:hover{
	 	 	  	  	 color:$pink;
	 	 	  	  	 text-decoration: underline;
	 	 	  	  }
	 	 	  	  &:focus,
	 	 	  	  &:visited{
	 	 	  	  	  color:$blue; 
	 	 	  	  	  text-decoration: underline;
	 	 	  	  }
	 	 	  }
	 	 }
	 }
}

/**********404page design*******/
.search ,
 .error404 {
 	.site-main{
 		   	padding: 80px 0;
 	}
   .search-form{
      max-width: 450px;
    display: block;
    position: relative;
    margin: 40px auto;
      input[type="search"]{
              	font-family: $base-font-regular;
							font-display: swap;
							font-style: $font-style-normal;
							font-weight: $font-weight-normal;
							font-size: $font-18;
							color: $blue;
							background-color: $white;
							@include border-radius(10px);
							border: 1px solid rgba($blue, 0.5);
							padding: 6px 16px !important;
							height: 65px;
							opacity: 1;
							@include box-sizing(border-box);
							width: 100%;
      }
      input[type="submit"]{
      font-size: $font-20;
					font-weight: $font-weight-normal;
					font-family: $base-font-bold;
					padding: 17px 30px;
					@include border-radius(100px);
					line-height: 26px;
					font-display: swap;
					outline: 0;
					color: $white;
					text-decoration: none;
					@include transition(0.3s all ease);
					cursor: pointer;
					display: block;
					border: 0;
					color: $white;
					background-color: $pink;
                    width:100%;
					@include box-shadow(0px, 0px, 30px, 0px, rgba($pink,0.3)) 
      }
  }
 } 

.search {
	.site-main {
		text-align: center;

		header {
			position: relative;

			h1 {
			font-size: 56px;
    line-height: 60px;
			}
			&.darkHeader{
				 @include box-shadow(0px, 0px, 30px, 0px, rgba($pink,0)) 
			}

		}

	}

}
/****************IE solution*******************/
@media all and (-ms-high-contrast:none) {
body { background-color: $white; }/* IE10 */
*::-ms-backdrop,body { background-color: $white; }/* IE11 */

.cta-section { background-color: $blue; }/* IE10 */
*::-ms-backdrop,.cta-section { background-color: $blue; }/* IE11 */

.cta-section-rounded .content { background-color: $blue; }/* IE10 */
*::-ms-backdrop,.cta-section-rounded .content { background-color: $blue; }/* IE11 */
	
br{display: none;}/* IE10 */
*::-ms-backdrop,br{display:none;}/* IE11 */

.home .banner-section  svg{ width:600px; height:650px; }/* IE10 */
*::-ms-backdrop,.home .banner-section  svg{ width:600px; height:650px; }/* IE11 */

.page-id-7 .banner-section  svg{ width:500px; height:600px; }/* IE10 */
*::-ms-backdrop,.page-id-7 .banner-section  svg{ width:500px; height:600px; }/* IE11 */


.logo-info-section svg{width:300px; height:500px;}/* IE10 */
*::-ms-backdrop,.logo-info-section svg{width:300px; height:500px;}/* IE11 */
}
