ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

 ul{
		padding: 0;
		margin: 0 0 10px 0;
		li {
			position: relative;
			padding: 0 0 0 28px;
			margin: 0 0 12px 0;
			list-style: none;
			color:$less-blue;
			font-size:$font-20;
			font-family:$base-font-regular;
		    font-weight: $font-weight-normal;
		    font-style: $font-style-normal;
			line-height: 30px;
			&:before {
				content: "";
				position: absolute;
				left: 0;
				top: 11px;
				width:9px;
				height:9px;
				@include border-radius(100%, 100%, 100%, 100%);
				background-color:$pink;
				display:block;
			} 
			@media screen and (max-width: $mobile-lg) {
				font-size:$font-18;
				    padding-left: 28px;
			}
		}

	}


ol {
	list-style-type: decimal;
	counter-reset: li-counter;
	margin: 30px 0 0 0;
	padding: 0;
	li {
		display: inline-block;
		width: 100%;
		position: relative;
		padding: 0 0 0 28px;
		margin: 0 0 12px 0;
		text-align: left;
			color:$less-blue;
			font-size:$font-20;
			font-family:$base-font-regular;
		    font-weight: $font-weight-normal;
		    font-style: $font-style-normal;
			line-height: 30px;
		  &::before {
			position: absolute;
			top: 0;
			display: inline-block;
			left: 0;
			content: counter(li-counter)".";
			counter-increment: li-counter;
			color:$blue;
			width: 35px;
			height: 35px;
			@include border-radius(50%, 50%, 50%, 50%);
			font-size: 18px;
			line-height: 29px;
		    	color:$less-blue;
			font-family:$base-font-regular;
		    font-weight: $font-weight-normal;
		    font-style: $font-style-normal;
		    font-display:swap;
		
		}
		@media screen and (max-width: $mobile-lg) {
				font-size:$font-18;
				    padding-left: 28px;
				    &:before{
				     top:14px;
				    }
			}
		}
	}


