figure {
	margin: 0;
}
img,
picture {
	margin: 0;
	max-width: 100%;
	height: auto;
}

.accent-lines {
	position: absolute;
	display: block;
	bottom: -100px;
	left: 0;
	width: 100%;
	height: 210px;
	text-align: center;
	padding-bottom: 90px;
	box-sizing: border-box;
	overflow: hidden;
	.vertical {
		position: relative;
		top: 0;
		display: inline-block;
		width: 40px;
		height: 100%;
		background: #000;
		transition: 300ms all ease-in-out;
		@media screen and (max-width: 680px) {
			width: 30px;
			height: 100%;
		}
		&+.vertical {
			margin-left: 10px;
		}
		// &:hover {
		// 	top: -60px;
		// }
	}
	.pink {
		background: $pink;
	}
	.green {
		background: $green;
	}
	.yellow {
		background: $yellow;
	}


	[data-aos="line-animation"] {
		top: 0;
		transition-property: top;
		&.aos-animate {
			top:100px;
		}
	}
}

[data-aos="box"] {
	padding-bottom: 90px;

	transition: padding-bottom;
	&.aos-animate {
		padding-bottom: 0px;
	}
}
