.mobile-navigation-icon {
	width: 24px;
	height: 25px;
	position: relative;
	cursor: pointer;
	display: inline-block;
	margin-left: 30px;
	&:hover {
		i {
			background-color: #086AD8;
			&:before {
				width: 80%;
				background-color: #086AD8;
			}
			&:after {
				background-color: #086AD8;
				width: 60%;
			}
		}
	}
	i {
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		width: 100%;
		height: 2px;
		background-color: #333;
		-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
		-o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
		transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
		&:before {
			position: absolute;
			bottom: 8px;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #333;
			content: "";
			-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
			-o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
			transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
		}
		&:after {
			position: absolute;
			bottom: -8px;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #333;
			content: "";
			-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
			-o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
			transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
		}
	}
}
.mobile-menu-overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #333333;
	overflow: auto;
	-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	-o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	z-index: 9999;
	background: rgba(0, 0, 0, 0.7);
	cursor:pointer;
	visibility: hidden;
	opacity: 0;
}
.mobile-menu-overlay__inner {
	-webkit-transform: translateX(120%);
	-ms-transform: translateX(120%);
	transform: translateX(120%);
	width: 400px;
	height: 100%;
	float: right;
	cursor: default;
	background: #086AD8;
	-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	-o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	overflow-y: auto;
}
.mobile-menu-overlay.active {
	visibility: visible;
	opacity: 1;
	.mobile-menu-overlay__inner {
		-webkit-transform: translateX(0%);
		-ms-transform: translateX(0%);
		transform: translateX(0%);
	}
}
.mobile-menu-overlay__header {
	background-color: #ffffff;
	padding: 15px 0;
	.mobile-navigation-close-icon {
		position: relative;
		cursor: pointer;
		height: 40px;
		width: 40px;
		line-height: 40px;
		display: inline-block;
		&:before {
			position: absolute;
			top: 23px;
			left: 8px;
			content: '';
			width: 24px;
			height: 3px;
			background: #333333;
			-webkit-transform-origin: 50% 50%;
			-ms-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
			-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
			-o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
			transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
		}
		&:after {
			position: absolute;
			top: 23px;
			left: 8px;
			content: '';
			width: 24px;
			height: 3px;
			background: #333333;
			-webkit-transform-origin: 50% 50%;
			-ms-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
			-webkit-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
			-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
			-o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
			transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
		}
		&:hover {
			color: #086AD8;
			&:before {
				-webkit-transform: none;
				-ms-transform: none;
				transform: none;
			}
			&:after {
				-webkit-transform: none;
				-ms-transform: none;
				transform: none;
			}
		}
	}
}
.mobile-menu-overlay__body {
	padding: 20px 40px 100px;
	.offcanvas-navigation {
		>.menu-primary-menu-container {
			>ul {
				>li {
					border-bottom: 1px solid rgba(255, 255, 255, 0.15);
					>a {
						display: block;
						color: #ffffff;
						padding-top: 18px;
						padding-bottom: 18px;
						font-size: 16px;
						font-weight: 500;
						line-height: 1.5;
						-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
						-o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
						transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
						&:hover {
							color: #ffffff;
						}
					}
					&:last-child {
						border-bottom: 0;
					}
				}
				>li.menu-item-has-children {
					position: relative;
					.menu-expand {
						position: absolute;
						right: 0;
						top: 12px;
						width: 40px;
						height: 40px;
						background: rgba(255, 255, 255, 0.1);
						color: #fff;
						text-align: center;
						line-height: 40px;
						cursor: pointer;
						-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
						-o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
						transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
						&:hover {
							background: rgba(255, 255, 255, 0.2);
						}
						&:before {
							content: '\f107';
							font-size: 18px;
							font-family: "Font Awesome 5 Pro";
						}
					}
					.sub-menu {
						padding: 12px 0 14px 10px;
						border-top: 1px solid rgba(255, 255, 255, 0.15);
						display: none;
						li {
							border-bottom: 1px solid rgba(255, 255, 255, 0.15);
							a {
								display: block;
								font-size: 15px;
								color: rgba(255, 255, 255, 0.7);
								font-weight: 500;
								line-height: 1.5;
								padding: 10px 0;
								&:hover {
									color: #ffffff;
								}
							}
							&:last-child {
								border-bottom: 0;
							}
						}
						li.menu-item-has-children {
							position: relative;
							.menu-expand {
								position: absolute;
								right: 0;
								top: 6px;
								width: 30px;
								height: 30px;
								background: rgba(255, 255, 255, 0.1);
								color: #fff;
								text-align: center;
								line-height: 30px;
								cursor: pointer;
								-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
								-o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
								transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
							}
						}
						li.menu-item-has-children.active {
							.menu-expand {
								&:before {
									content: "\f106";
								}
							}
						}
					}
				}
				>li.menu-item-has-children.active {
					.menu-expand {
						&:before {
							content: '\f106';
						}
					}
				}
			}
		}
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.mobile-navigation-icon.white-md-icon {
		i {
			background-color: #fff;
			&:before {
				background-color: #fff;
			}
			&:after {
				background-color: #fff;
			}
		}
		&:hover {
			i {
				background-color: #086AD8;
				&:before {
					width: 80%;
					background-color: #086AD8;
				}
				&:after {
					background-color: #086AD8;
					width: 60%;
				}
			}
		}
	}
}
@media only screen and (max-width: 479px) {
	.mobile-menu-overlay__inner {
		width: 300px;
	}
}
