@media(max-width:$desktop-sm) {
  .banner-section {
    height: 815px;

    .banner-animation {
      max-width: calc(50% + 60px);
      top: 90px;
    }

    &:before {
      background-size: auto 100%;
      width: 100%;
      height: 100%;
    }

  }

  /**********CTA section *******/
  .cta-section {
    .icon-box {
      &.icon-1 {
        left: 120px;
      }

      &.icon-2 {
        left: -85px;
      }

      &.icon-3 {
        left: 176px;
      }

      &.icon-4 {
        right: 100px;
      }

      &.icon-5 {
        bottom: -51px;
        right: 0;
      }

      &.icon-6 {
        right: 182px;
      }

    }

  }

}

@media(max-width:$laptop) {
  .banner-section {
    height: 700px;
      .col-left {
      padding-top: 90px;
    }

    .banner-animation {
      max-width: calc(50% + 20px);
      top: 80px;
    }

  }
  .page-id-7{
   .banner-section{
     .banner-animation{
       margin-right:60px;
   
     }
   }
}

  .two-column-section {
    .no-merge-img-col {
      max-width: 470px;
      display: inline-block;
      float: right;

      img {
        max-width: 100%;
      }

      .tick {
        &.tick1 {
          bottom: 168px;
        }

        &.tick2 {
          bottom: 118px;
        }

        &.tick3 {
          bottom: 72px;
        }

      }

    }

  }

  .three-column-boxes {
    .column-box {
      padding: 20px;

      .txt-m {
        padding: 0;
      }

    }

  }

}

@media(max-width:$tablet) {
  .left-union-bg {
    &:before {
      width: 222px;
      height: 154px;
      top: 27px;
    }

  }

  .right-union-bg {
    &:after {
      width: 271px;
      height: 188px;
      bottom: 27px;
    }

  }

  .mb-80, .mb-90, .mb-100, .mb-136, .mb-160, .mb-200, .mb-146 {
    margin-bottom: $space-70;
  }


  .banner-section {


    .banner-animation {
    top: 40px;
    }

     .col-left {
      padding-top: 60px;
    }

  }
.page-id-7{
   .banner-section{
     .banner-animation{
       margin-right:0px;
   
     }
   }
}

  br {
    display: none;
  }

  .about-section {
    .txt-h {
      p {
        line-height: 48px;
      }

    }

  }

  .two-column-section {
    .d-flex {
      &.left-image {
        .content {
          padding-left: 0;
        }

      }

      &.right-image {
        .content {
          padding-right: 0;
        }

      }

    }

    .no-merge-img-col {
      max-width: 354px;

      .tick {
        &.tick1 {
          bottom: 125px;
        }

        &.tick2 {
          bottom: 92px;
        }

        &.tick3 {
          bottom: 50px;
        }

      }

    }

    .cloud-img-col {
      .img1 {
        max-width: 230px;
      }

      .img2 {
        max-width: 180px;
        right: auto;
        left: 150px;

        .lines-block {
          height: 74px;
          bottom: -38px;
          right: -46px;
        }

      }

      .img3 {
        right: auto;
        bottom: 59px;
        left: 206px;
      }

    }

  }

  .cta-section {
    .icon-box {
      &.icon-2 {
        left: 0;
      }

    }

  }

  .three-column-boxes {
    .column-box {
      margin: 0;
    }

  }

}

@media(max-width:$tablet-md) {
  .container-sm, .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .site-main {
    .curv-graphic {
      right: -100px;
      left: -100px;
      height: 25%;
    }

  }

  .banner-section, .toolkit-banner-section {
    background-position: top center;
    background-size: 1650px 100%;
    height: auto;
    margin-bottom: 0;
    padding-bottom: 100px;

    &:before {
      top: 0;
    }

    &:after {
      background-position: top center;
      background-size: 1650px 100%;
      height: 100%;
    }

    .banner-animation {
      position: relative;
      text-align: center;
      width: auto;
              max-width:100%;
    }

    .col-left {
      padding-top: 80px;
      .subheading-h,
      .subheading-b{
          max-width: 100%;
      }
    }

  }

  .toolkit-banner-section {
    height: auto;
    margin-bottom: 0;

    .row {
      margin: 0;
    }

    .center-align {
      text-align: left;

      .subheading-b {
        max-width: 100%;
      }

    }

    .site-btn {
      text-align: center;
      max-width: 314px;
      width: 100%;
    }

    .btn-row {
      text-align: center;
    }

  }

  .home {
    .banner-section {
      .banner-animation {
        top: -35px;

      }

    }

  }

  .demo-page-top-section {
  margin:80px 0;
    .col-left {
      .pr-80 {
        padding-right: 0
      }

    }

  }

  .footer-form {
    margin-top: 40px;
  }

  .site-footer {
    .row {
      display: flex;
      flex-wrap: wrap;
    }

    .footer-logo {
      margin-bottom: 40px;
      order: 1;
    }

    .footer-menu1 {
      order: 3;
    }

    .footer-menu2 {
      order: 2;
    }

    .menu {
      padding-left: 0
    }

    .footer-form {
      order: 4;

      .gform_wrapper {
        max-width: 550px;

        .gform_body {
          .gfield_description {
            position: relative;
          }

        }

        .gform_footer {
          margin-top: 15px !important;
          float: left;
          top: 0;
          width: 100%;
        }

      }

    }

  }

  .stats-section {
    .col-left {
      padding-right: 0
    }

  }

  .demo-page-top-section {
    .col-left {
      h1 {
        font-size: 85px;
        line-height: 80px
      }

    }

  }

  body {
    &e.page-id-6 {
      @include gradient(left, $list7);

      &:before {
        width: 350px;
        top: 0;
        right: 0;
      }

    }

  }

  /**********CTA section *******/
  .cta-section {
    .icon-box {
      &.icon-1 {
        left: auto;
        right: 0px;
        bottom: -55px;
        top: auto;
        width: 75px;
      }

      &.icon-2 {
        left: 0;
        top: 169px;
        width: 80px;
      }

      &.icon-3 {
        left: auto;
        right: 0;
        top: -54px;
        bottom: auto;
        width: 80px;
      }

      &.icon-4 {
        display: none;
      }

      &.icon-5 {
        bottom: auto;
        right: 0;
        width: 75px;
        top: 40px;
      }

      &.icon-6 {
        right: auto;
        left: 0;
        bottom: auto;
        top: -54px;
        width: 90px;
      }

    }

    .content {
      padding: 0 35px;
    }

  }

  .cta-section-rounded {
    padding-top: 0;

    .content {
      padding: 50px;

      h2 {
        font-size: 34px;
        line-height: 38px;
        max-width: 570px;
      }

      .subheading-b {
        p {
          font-size: 20px;
          line-height: 28px;
        }

      }

    }

  }

  .tabbing-section {
    padding-bottom: 0;

    .tabs {
      .tab {
        margin: 0;

        a {
          padding: 10px;
          font-size: 16px;
        }

      }

    }

  }

  .logo-info-section {
    .sky-blue-bg {
      padding: 60px;

      .col-right {
        padding-left: 30px;
      }

    }

  }

  .faq-content {
    ul {
      &.collapsible {
        li {
          .collapsible-header {
            padding-right: 79px;

            .icon {
              width: 16px;
              height: 16px;
              top: 34px;
            }

          }

        }

      }

    }

  }

}

@media(max-width:$mobile-lg) {
  .demo-page-top-section {
    .col-left {
      h1 {
        font-size: 64px;
        line-height: 60px;
      }

    }

  }

  .static-page {
    position: relative;

    &:before {
      width: 222px;
      height: 154px;
    }

    &:after {
      width: 271px;
      height: 188px;
    }

  }

  .mb-80, .mb-90, .mb-100, .mb-136, .mb-160, .mb-200, .mb-146 {
    margin-bottom: $space-50;
  }

  header {
    background-color: $white;
  }

  .formdesign_wrapper {
    padding: 30px;
  }

  .video-section {
    .videobox {
      height: 266px;

      .play-icon {
        width: 55px;
        height: 55px;
        background-size: 55px auto;
        background-position: -1px 1px;

        &:hover {
          background-position: -1px -52px;
        }

      }

      .txt-big-bold {
        font-size: 17px;
        line-height: 20px;
      }

    }

  }

  .sot-img-col {
    .col {
      max-width: 173px;
    }

  }

  .demo-page-top-section {
     margin-bottom:30px; 
  
    .col-left {
      h1 {
        font-size: 48px;
        line-height: 49px;
      }

      .pr-80 {
        padding-right: 0
      }

    }

  }

  .two-column-section {
    padding-top: 0;

    .d-flex {
      flex-direction: column-reverse;

      &.right-image {
        flex-direction: column-reverse;
      }

      &.left-image {
        .content {
          padding-left: 0;
        }

      }

      &.right-image {
        .content {
          padding-right: 0;
        }

      }

      .sot-img-col {
        margin-top: 50px;
        text-align: center;

        .col {
          max-width: 49%;
          float: none;
          display: inline-block;
        }

      }

      .cloud-img-col, .no-merge-img-col {
        max-width: 354px;
        margin: 40px auto 0;
        float: none;
        display: block;
      }

      .single-img-col {
        margin-top: 50px;
        text-align: center;
      }

    }

  }

  body {
    .gform_wrapper {
      .gform_body {
        ul {
          li {
            .ginput_container_checkbox {
              li {
                label {
                  width: 100%;
                  max-width: 100%;
                  font-size: 16px;
                  padding: 2px 0 0 35px;

                  &:after {
                    width: 24px;
                    height: 24px;
                  }

                  &:before {
                    top: 5px;
                    left: 4px;
                  }

                }

              }

            }

            label {
              &.gfield_label {
                font-size: 15px;
              }

            }

          }

        }

      }

      .gform_footer {
        input {
          &.gform_button {
            padding: 10px 15px;
          }

        }

      }

    }

  }

  .three-listing-view {
    .column-box {
      padding: 0 0 0 55px;

      img {
        width: 35px;
      }

      .txt-m {
        position: relative;
        left: -55px;
        top: 15px;
      }

    }

  }

  .three-column-boxes {
    .col {
      width: 100% !important;
    }

    .column-box {
      min-height: 10px;
      text-align: left;
      height: auto !important;

      figure{
         min-height:46px;
      }
      img, h5 {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
      }

      .txt-m {
        padding: 0;
      }

    }

  }

  .quote-section {
    margin-bottom: 80px;

    .quote-box {
      @include border-radius(20px);
      padding-top: 40px;

      .quote-text {
        padding: 0 30px;
        margin-bottom: 40px;

        p {
          font-size: 26px;
          line-height: 34px;
        }

      }

      .quote-footer {
        .tbl-col {
          padding: 8px 10px;
          &.quote-company, 
          &.quote-author {
            font-size: 18px;
          }

          &.quote-logo {
            img {
              display: inline-block;
              max-width: 100px;
              height: auto;
              vertical-align: middle;
            }

          }

        }

      }

    }

  }

  .tabbing-section {
    .tabs {
      max-width: 315px;

      .tab {
        a {
          max-width: 105px;
          min-width: 105px;
        }

      }

    }

    .tab-content {
      text-align: center;
      padding: 40px 0 0;
    }

  }

  .cta-section-rounded {
    .content {
      padding: 50px 25px;
      @include border-radius(100px);

      &:after {
        background-image: url(../images/cta-mobile-union.png);
        background-size: contain;
        background-position: right bottom;
      }

    }

  }

  .cta-section {
    padding-bottom: 58px;
    padding-top: 58px;
  }

  .stats-section {
    .col-right {
      .stats {
        .tbl-col {
          &.stat-number {
            width: 47%;
            font-size: 64px;

            em {
              font-size: 42px;
            }

          }

        }

      }

    }

  }

  .three-column-boxes {
    .column-box {
      padding: 22px;

      figure {
        width: 34px;
        display: inline-block;
        margin-right: 10px;
      }

    }

  }

  .logo-list {
    .logobox {
      margin: 5px 1px;
      width: 105px;
      height: 66px;
    }

  }

  .logo-grid {
    .logobox {
      width: 150px;
      height: 91px;
      margin: 8px 6px;

      img {
        max-width: 100px;
        width: 100%;
      }

    }

  }

  .site-footer {
    .footer-logo {
      img {
        max-width: 166px;
      }

    }

  }

  .banner-section, .toolkit-banner-section {
    margin-bottom: -31px;
    padding-bottom: 87px;

    &:after {
      background-position: top center;
      background-size: 1650px 100%;
      height: 100%;
    }

  }

  .quote-section {
    .quote-box {
      .quote-icon {
        top: -9px;
        width: 30px;
      }

    }

  }
.home{
    .three-column-boxes{
        &:after {top:62px;}
        }
      }
      .search ,
   .error404{
      .site-main{
         padding:40px 0;
      }
   }
    .search {
            font-size: 34px;
    line-height: 38px;
    }
}

@media(max-width:$mobile-md) {
  body {
    padding-top: 61px;
  }

  header {

      padding-top: 6px;
      padding-bottom: 12px;

    &.darkHeader {
      padding-top: 6px;
      padding-bottom: 12px;
      .logo{
        a{
          top:5px;
        }
      }
    }

    .logo {
      img {
        max-width: 154px;
      }

    }

    .show-on-small {
      display: block;
    }

    .menu-icon {
      width: 24px;
      margin-top: 14px;
      float: right;

      span {
        width: 24px;
        height: 2px;
        display: block;
        margin: 5px 0;
        background-color: $pink;
        @include border-radius(9px);
        @include transition(all 0.3s ease);
      }

    }

    #site-navigation {
      opacity: 0;
      visibility: hidden;
      @include transition(all 0.3s ease);
      background-image: url(../images/banner-bg.png);
      background-size: 1500px 850px;
      background-repeat: no-repeat;
      background-position: top left;
      width: 100%;
      height: calc(100% - 67px);
      position: fixed;
      left: 0;
      top: 63px;
      bottom: 0;
      z-index: 9999;
      background-color: $white;
      text-align: left;
      padding-top: 75px;

      &:after {
        background-image: url(../images/banner-union-bg.png);
        content: "";
        position: absolute;
        right: -80px;
        bottom: 0px;
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: right bottom;
        width: 100%;
        height: 100%;
        opacity: .7;
        z-index: 1;
      }

      .demomobbtn, .menu {
        position: relative;
        z-index: 55
      }

      ul {
        li {
          display: block;
          margin: 0;

          &.text-link, &.btn-link {
            a {
              background-color: $transparent;
              @include border-radius(0px);
              @include box-shadow(0, 0, 0, 0, rgba($blue, 0));
              color: $blue;
              font-size: 36px;
              line-height: 40px;
              padding: 10px 20px;

              &:hover {
                background-color: $transparent;
                color: $pink;
                @include box-shadow(0, 0, 0, 0, rgba($blue, 0));
              }

            }

          }

          &.current-menu-item {
            &:after {
              display: none;
            }

            a {
              color: $pink;
              background-color: $transparent;
            }

          }

        }

      }

      .demomobbtn {
        z-index: 55;
        position: absolute;
        bottom: 30px;
        left: 30px;
        right: 30px;
        text-transform: capitalize;
        text-align: center;
      }

    }

  }

  body {
    &.open {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      overflow: hidden;

      header {
        #site-navigation {
          opacity: 1;
          visibility: visible;
          @include transition(all 0.3s ease);
        }

        .menu-icon {
          span {
            @include transition(all 0.3s ease);

            &:nth-child(2) {
              opacity: 0;
            }

            &:nth-child(1) {
              @include transform(rotate(-45deg) translate(-7px, 1px));
            }

            &:nth-child(3) {
              @include transform(rotate(45deg) translate(-8px, -3px));
            }

          }

        }

      }

    }

  }

  .about-section {
    .txt-s {
      margin-bottom: 25px;
    }

  }

  .two-column-section {
    .d-flex {
      .center-box {
        width: 90px;
        height: 90px;
      }

      .sot-img-col {
        .col {
          padding: 0;
        }

      }

      .cloud-img-col, .no-merge-img-col {
        max-width: 280px;
      }

      .no-merge-img-col {
        max-width: 290px;

        .tick {
          right: 40px;
          width: 15px;
          height: 15px;

          &.tick1 {
            bottom: 111px;
          }

          &.tick2 {
            bottom: 81px;
          }

          &.tick3 {
            bottom: 51px;
          }

        }

      }

      .cloud-img-col {
        .img1 {
          max-width: 200px;
        }

        .img2 {
          right: auto;
          max-width: 150px;
          left: 137px;

          .lines-block {
            height: 62px;
            right: -32px;
            bottom: -31px;
            width: 100px;
          }

        }

        .img3 {
          left: 186px;
          max-width: 65px;
          bottom: 63px;
        }

      }

    }

  }

  .logo-info-section {
    .sky-blue-bg {
      padding: 25px;

      .row {
        flex-direction: column-reverse;
        display: flex;
      }

      .col-right {
        padding-left: 0;
        margin-bottom: 40px;
      }

      .col-left {
        text-align: center;
      }

    }

  }

  .video-section {
    .videobox {
      height: 200px;

      .play-icon {
        top: 29%;
        width: 40px;
        height: 40px;
        background-size: 40px auto;
        background-position: -1px 1px;

        &:hover {
          background-position: -1px -38px;
        }

      }

    }

  }

  .team-members {
    .member-info {
      padding: 0 0 0 120px;
      margin-bottom: 40px;
      position: relative;
      text-align: left;

      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 95px;
      }

      h6 {
        margin-bottom: 15px;
      }

      .txt-m {
        max-width: 100%;
      }

      .txt-medium-bold {
        font-size: 20px;
        margin-bottom: 10px;
      }

    }

  }

}

@media(max-width:$mobile-sm) {
  .site-main {
    .curv-graphic {
      height: 33%;
    }

  }

  .home {
    .banner-section {
      .banner-animation {
        margin-left: -85px;
        margin-right: -107px;
            max-width: inherit;
      }

    }

  }

  header {
    #site-navigation {
      ul {
        li {
          &.btn-link, &.text-link {
            a {
              font-size: 29px;
              line-height: 32px;
            }

          }

        }

      }

    }

  }

}

@media(max-width:$mobile-xsm) {
  .tabbing-section {
    .tabs {
      max-width: 280px;

      .tab {
        a {
          max-width: 100%;
          min-width: auto;
          padding: 10px 15px;
        }

      }

    }

  }

}