table {
	border-collapse: collapse;
	margin:30px 0;
	table-layout: fixed;
	text-align: left;
	width: 100%;
}

thead ,
tbody{
	vertical-align: middle;
}

th {

	font-family:$base-font-bold;
	color:$blue;
}
td{
	 color:$less-blue;
	 font-family:$base-font-regular;
}
td,
th {
	padding: 8px 10px;
		font-weight: normal;
			 font-size:$font-20;
}

/********************************
  Tables
*********************************/

.tbl{
	 @inculde border-radius(10px) 
	 border:1px solid rgba($blue, 0.3)
	 background-color:$white;


	 tr{
	   &:nth-child(2n){
	      background-color:$sky-blue;
	   }
	 }
}