.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $base-font-bold;
	font-weight: $font-weight-normal;
	font-style: $font-style-normal;
	margin: 0 0 20px 0;
	color: $blue;
	font-display: swap;

	a {
		text-decoration: none;
	}

}

.h1,
h1 {
	font-size: $font-size-h1;
	line-height: 98px;

	@media screen and (max-width:$laptop) {
		font-size: 85px;
		line-height: 80px;
	}

	@media screen and (max-width:$mobile-lg) {
		font-size: 64px;
		line-height:60px;
	}

}

.h2,
h2 {
	font-size: $font-size-h2;
	line-height: 76px;

	@media screen and (max-width:$laptop) {
		font-size: 65px;
		line-height: 62px;
	}

	@media screen and (max-width:$mobile-lg) {
		font-size: 50px;
		line-height: 54px;
	}

}

.h3,
h3 {
	font-size: $font-size-h3;
	line-height: 60px;

	@media screen and (max-width:$laptop) {
		font-size: $font-48;
		line-height: 45px;
	}

	@media screen and (max-width:$mobile-lg) {
		font-size: $font-size-h5;
		line-height: 38px;
	}

}

.h4,
h4 {
	font-size: $font-size-h4;
	line-height: 50px;

	@media screen and (max-width:$laptop) {
		font-size: $font-size-h5;
		line-height: 32px;
	}

	@media screen and (max-width:$mobile-lg) {
		font-size: $font-size-h6;
		line-height: 30px;
	}

}

.h5,
h5 {
	font-size: $font-size-h5;
	line-height: 38px;

	@media screen and (max-width:$laptop) {
		font-size: $font-30;
		line-height: 28px;
	}

	@media screen and (max-width:$mobile-lg) {
		font-size: $font-24;
		line-height: 28px;
	}

}

.h6,
h6 {
	font-size: $font-size-h6;
	line-height: 30px;

	@media screen and (max-width:$laptop) {
		font-size: $font-24;
		line-height: $font-22;
	}

	@media screen and (max-width:$mobile-lg) {
		font-size: $font-22;
		line-height:26px;
	}

}

.subheading-h {
	font-size: $font-48;
	line-height: 52px;
	color: $blue;

	p {
		font-size: $font-48;
		line-height: 52px;

		@media screen and (max-width:$laptop) {
			font-size: $font-size-h5;
			line-height: 33px;
		}

		@media screen and (max-width:$mobile-lg) {
			font-size: $font-30;
			line-height:33px;
		}

	}

	@media screen and (max-width:$laptop) {
		font-size: $font-size-h5;
		line-height: 33px;
	}

	@media screen and (max-width:$mobile-lg) {
		font-size: $font-30;
		line-height: 33px;
	}

}

.subheading-b {
	font-size: $font-30;
	line-height: 40px;
	color: $blue;

	p {
		font-size: $font-30;
		line-height: 40px;

	

		@media screen and (max-width:$mobile-lg) {
			font-size: $font-22;
			line-height: 25px;
		}

	}

	@media screen and (max-width:$laptop) {
		font-size: $font-size-h6;
		line-height: $font-30;
	}

	@media screen and (max-width:$mobile-lg) {
		font-size: $font-22;
		line-height: 25px;
	}

}

.subheading-m {
	color: $blue;
	font-size: $font-26;
	line-height: 29px;

	p {
		font-size: $font-26;
		line-height: 29px;

		@media screen and (max-width:$laptop) {
			font-size: $font-22;
			line-height: 24px;
		}

		@media screen and (max-width:$mobile-lg) {
			font-size: $font-20;
			line-height: $font-22;
		}

	}
@media screen and (max-width:$laptop) {
		font-size: $font-22;
		line-height: 24px;
	}

	@media screen and (max-width:$mobile-lg) {
		font-size: $font-20;
		line-height: $font-22;
	}

}

.txt-h {
	font-size: $font-48;
	line-height: 53px;

	p {
		font-size: $font-48;
		line-height: 53px;
@media screen and (max-width:$laptop) {
			font-size: $font-size-h5;
			line-height: 38px;
		}

		@media screen and (max-width:$mobile-lg) {
			font-size: $font-32;
			line-height: 34px;
		}

	}
@media screen and (max-width:$laptop) {
		font-size: $font-size-h5;
		line-height: 38px;
	}

	@media screen and (max-width:$mobile-lg) {
		font-size: $font-32;
		line-height: 34px;
	}

}

.txt-b {
	font-size: $font-26;
	line-height: 34px;

	p {
		font-size: $font-26;
		line-height: 34px;

		@media screen and (max-width:$mobile-lg) {
			font-size: $font-24;
			line-height: 27px;
		}

	}

	@media screen and (max-width:$mobile-lg) {
		font-size: $font-24;
		line-height: 27px;
	}

}

.txt-m {
	font-size: $font-20;
	line-height: 24px;

	p {
		font-size: $font-20;
		line-height: 24px;

		@media screen and (max-width:$mobile-lg) {
			font-size: $font-18;
			line-height: 21px;
		}

	}

	@media screen and (max-width:$mobile-lg) {
		font-size: $font-18;
		line-height: 21px;
	}

}

.txt-s {
	font-size: $font-18;
	line-height: 20px;

	p {
		font-size: $font-18;
		line-height: 20px;

		@media screen and (max-width:$mobile-lg) {
			font-size: $font-15;
			line-height: 18px;
		}

	}

	@media screen and (max-width:$mobile-lg) {
		font-size: $font-15;
		line-height: 18px;
	}

}

.txt-big-bold {
	font-weight: $font-weight-normal;
	font-family:$base-font-bold;
	font-size: $font-32;
	    line-height: 36px;

	@media screen and (max-width:$laptop) {
		font-size: $font-26;
		    line-height: 29px;	}

	@media screen and (max-width:$mobile-lg) {
		font-size: $font-24;
		    line-height: 27px;
	}

}

.txt-small-bold {
	font-size: $font-18;
font-family:$base-font-bold;
	    line-height: 20px;

	@media screen and (max-width:$mobile-lg) {
		font-size: $font-16;
		    line-height: 18px;
	}

}

.txt-medium-bold {
	font-size: $font-22;
	line-height: 16px;
	font-family:$base-font-bold;

	p {
		font-size: $font-22;
	line-height: 16px;
	font-family:$base-font-bold;

		@media screen and (max-width:$mobile-lg) {
			font-size: $font-18;
			line-height: 21px;
		}

	}

	@media screen and (max-width:$mobile-lg) {
		font-size: $font-18;
		line-height: 21px;
	}

}

.txt-tiny {
	font-size: $font-16;

	@media screen and (max-width:$mobile-lg) {
		font-size: $font-14;
	}

}

p {
	font-size: $font-18;
	line-height: 22px;
	font-family: $base-font-regular;
	font-weight: $font-weight-normal;
	font-style: $font-style-normal;
	color: $less-blue;
	margin: 0 0 20px 0;
	font-display: swap;

	&:empty {
		display: none;
	}

	&:last-child {
		margin-bottom: 0;
	}

	@media screen and (max-width:$mobile-lg) {
		font-size: $font-16;
	}

}

a {
	font-display: swap;
	color: $pink;
	text-decoration: none;
	transition: all $base-duration $base-timing;
     &:visited{
     	color: $pink;
	text-decoration: none;
     }
	&:hover {
		background: transparent;
		border: 0;
		color: $pink;
		text-decoration: underline;
	}

	&:focus {
		outline: $focus-outline;
		outline-offset: $focus-outline-offset;
		background: transparent;
		color: $pink;
		border: 0;
		text-decoration: underline
	}

}

strong,
b {
font-weight: $font-weight-normal;
font-family:$base-font-bold;
	a {
		font-weight: $font-weight-normal;
		font-family:$base-font-bold;
	}

}
em,
i{
	  font-style: italic;
}
hr {
	margin: 10px 0;
	padding: 0;
	display: block;
	height: 1px;
	width: 100%;
	background: rgba($blue, 0.2);
}