
//font face
$all-font-path: "../fonts/";


// Base
$base-font-regular: 'neuzeit_groteskregular';
$base-font-bold: 'neuzeitgrobold';

// Font Weights
$font-weight-normal: normal;
$font-style-normal:normal;



// Header Sizes
$font-size-h1: 110px;
$font-size-h2: 72px;
$font-size-h3: 56px;
$font-size-h4: 46px;
$font-size-h5: 34px;
$font-size-h6: 28px;
$font-48:48px;
$font-32:32px;
$font-30:30px;
$font-26:26px;
$font-24:24px;
$font-22:22px; 
$font-20:20px; 
$font-18:18px; 
$font-16:16px; 
$font-15:15px; 
$font-14:14px; 
$quote-font:42px;

// Colors
$white: #FFFFFF;
$black: #000000;
$red: #f00;
$green:#4a8e2b;
$dark-blue:#1E49A2;
$blue: #15377C;
$less-blue:#546993;
$sky-blue:#E6EEFE;
$pink:#FF3370;
$dark-pink:#F01859;
$transparent:rgba($blue, 0);

//space
$space-15:15px;
$space-20:20px;
$space-30:30px;
$space-40:40px;
$space-50:50px;
$space-60:60px;
$space-70:70px;
$space-80:80px;
$space-90:90px;
$space-100:100px;
$space-136:136px;
$space-146:146px;
$space-160:160px;
$space-200:200px;

//placeholder
@mixin placeholder {
  ::-webkit-input-placeholder {@content};
  :-moz-placeholder           {@content};
  ::-moz-placeholder          {@content};
  :-ms-input-placeholder      {@content}; 
}



// Breakpoints
$desktop-sm: "1380px";
$laptop: "1199px";
$tablet: "1024px";
$tablet-md: "992px";
$tablet-sm: "768px";
$mobile-lg: "767px";
$mobile-md: "600px";
$mobile-sm: "480px";
$mobile-xsm: "360px";



// Focus
$focus-outline-color:rgba($white, 0);
$focus-outline-width: 0px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 0px;
$focus-outline:none;


//disply 


// Mixin CSS
$base-duration: 300ms;
$base-timing: ease;

//gredient

$list1:$blue 0%, $dark-blue 100%; 
$list2:#fff 30%, #E6EEFE 100%;
$list3:#E6EEFE 0%, #ffff 80%;
$list4:rgba($sky-blue,0.3) 20%, $sky-blue 100%;
$list5:#fff 63%, #E6EEFE  100%;
$list6:rgba($black, 0.6) 21%, rgba($black, 0) 100%;
$list7:#fff 20%, #E6EEFE  100%;

@mixin gradient($direction, $list1) { 
  background: -webkit-linear-gradient($direction, $list1);
  background: -moz-linear-gradient($direction, $list1);
  background: -o-linear-gradient($direction, $list1);
  background: linear-gradient($direction, $list1);  
}

@mixin gradient($direction, $list2) { 
  background: -webkit-linear-gradient($direction, $list2);
  background: -moz-linear-gradient($direction, $list2);
  background: -o-linear-gradient($direction, $list2);
  background: linear-gradient($direction, $list2);  
}

@mixin border-radius($top-left:10px, $top-right:null, $bottom-right:null, $bottom-left:null){
  -webkit-border-radius: $top-left $top-right $bottom-right $bottom-left;
     -moz-border-radius: $top-left $top-right $bottom-right $bottom-left;
      -ms-border-radius: $top-left $top-right $bottom-right $bottom-left;
          border-radius: $top-left $top-right $bottom-right $bottom-left;  
}
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
@mixin transform($args...) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
}



// boxshadow
@mixin box-shadow($top, $left, $blur, $spread, $color) {
     -webkit-box-shadow: $top $left $blur $spread $color;
    -moz-box-shadow: $top $left $blur $spread $color;
    box-shadow: $top $left $blur $spread $color;
    -ms-box-shadow: $top $left $blur $spread $color;
}
//boxsizing
@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

// Rotate
@mixin rotate ($deg) { 
	@include transform(rotate(#{$deg}deg));
}

// Scale
@mixin scale($scale) {
	@include transform(scale($scale));
}

// Translate
@mixin translate ($x, $y) {
	@include transform(translate($x, $y));
}

// Skew
@mixin skew ($x, $y) {
	@include transform(skew(#{$x}deg, #{$y}deg));
}

// Transform Origin
@mixin transform-origin ($origin) {
    	-webkit-transform-origin: $origin;
    	-moz-transform-origin: $origin;
	-ms-transform-origin: $origin;
	transform-origin: $origin;
}






// Flexbox display
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

// The 'flex' shorthand
// <positive-number>, initial, auto, or none
@mixin flex($values) {
  -webkit-box-flex: $values;
     -moz-box-flex: $values;
      -webkit-flex: $values;
  	  -ms-flex: $values;
  	      flex: $values;
}

// Flex Flow Direction
// row | row-reverse | column | column-reverse
@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
     -moz-flex-direction: $direction;
      -ms-flex-direction: $direction;
          flex-direction: $direction;
}

// Flex Line Wrapping
// nowrap | wrap | wrap-reverse
@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
     -moz-flex-wrap: $wrap;
      -ms-flex-wrap: $wrap;
          flex-wrap: $wrap;
}

// Flex Direction and Wrap
// <flex-direction> || <flex-wrap>
@mixin flex-flow($flow) {
  -webkit-flex-flow: $flow;
     -moz-flex-flow: $flow;
      -ms-flex-flow: $flow;
          flex-flow: $flow;
}

// - applies to: flex items
@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
     -moz-box-ordinal-group: $val;     
  	     -ms-flex-order: $val;     
  	      -webkit-order: $val;  
  		      order: $val;
}

// Flex grow factor
// <number>
@mixin flex-grow($grow) {
  -webkit-flex-grow: $grow;
     -moz-flex-grow: $grow;
      -ms-flex-grow: $grow;
          flex-grow: $grow;
}

// Flex shrink
// <number> 
@mixin flex-shrink($shrink) {
  -webkit-flex-shrink: $shrink;
     -moz-flex-shrink: $shrink;
      -ms-flex-shrink: $shrink;
          flex-shrink: $shrink;
}

// Flex basis
@mixin flex-basis($width) {
  -webkit-flex-basis: $width;
     -moz-flex-basis: $width;
      -ms-flex-basis: $width;
          flex-basis: $width;
}

// Axis Alignment
// flex-start | flex-end | center | space-between | space-around 
@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
     -moz-justify-content: $justify;
      -ms-justify-content: $justify;
          justify-content: $justify;
            -ms-flex-pack: $justify;
}

// Packing Flex Lines
// flex-start | flex-end | center | space-between | space-around | stretch 
@mixin align-content($align) {
  -webkit-align-content: $align;
     -moz-align-content: $align;
      -ms-align-content: $align;
          align-content: $align;
}

// Cross-axis Alignment
// flex-start | flex-end | center | baseline | stretch 
@mixin align-items($align) {
  -webkit-align-items: $align;
     -moz-align-items: $align;
      -ms-align-items: $align;
       -ms-flex-align: $align;
          align-items: $align;
}

// Cross-axis Alignment
// auto | flex-start | flex-end | center | baseline | stretch 
@mixin align-self($align) {
  -webkit-align-self: $align;
     -moz-align-self: $align;
      -ms-align-self: $align;
          align-self: $align;
}


// keyframe animation
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}
